body
{
  display: flex;
  min-height: 100vh;
	user-select: none;
  flex-direction: column;
  overflow-x: hidden;
  background: #edf2f8;
}

body::-webkit-scrollbar 
{
	width: 5px;
}

main
{
	flex: 1 0 auto;
}

.bg__header
{
	background: #009FFF;
	background: -webkit-linear-gradient(262deg,  #009FFF, #ec2F4B);
	background: linear-gradient(262deg,  #009FFF, #ec2F4B);
}

/* Scroll */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0, .2);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0, .4); 
}
/* Scroll */

.btn__person
{
	background: #FC466B;
	background: -webkit-linear-gradient(257deg, #3F5EFB, #FC466B);
	background: linear-gradient(257deg, #3F5EFB, #FC466B);
}

.b__radius
{
	border-radius: 0.25rem;
}

.status
{
	width: 9px;
	height: 9px;
	border-radius: 50%;
	margin-left: 0.3rem;
}